<h1>Découverte des directives d'attributs</h1>
<a no-open href="https://twitter.com">twitter</a>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Veniam vero, vitae in maxime laborum mollitia quam, facilis reiciendis
  amet reprehenderit animi! Libero aspernatur quo sit reprehenderit cum
  optio repellat minus.
</p>
<p highlight bg-color="blue" bg-default="orange">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vero,
  vitae in maxime laborum mollitia quam, facilis reiciendis amet
  reprehenderit animi! Libero aspernatur quo sit reprehenderit cum
  optio repellat minus.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vero,
  vitae in maxime laborum mollitia quam, facilis reiciendis amet
  reprehenderit animi! Libero aspernatur quo sit reprehenderit cum
  optio repellat minus.
</p>